@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    background: #0a0b0f;
    color: #ededed;
    font-family: "Inter", sans-serif;
  }

  #__next {
    @apply min-h-screen overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  strong {
    font-family: "Poppins", sans-serif;
  }
}
